
    .radio-buttons
        input(
            type="radio"
            name="radio" 
            class="radio-buttons__radio-button" 
            id="radio1" 
            checked="")
        label(
            class="radio-button__label"
            for="radio1"
            )
    