mixin radio-buttons
    .radio-buttons
        input(
            type="radio"
            name="radio" 
            class="radio-buttons__radio-button" 
            id="radio1" 
            checked="")
        label(
            class="radio-buttons__label"
            for="radio1"
            ) Мужчина
        input(
            type="radio"
            name="radio" 
            class="radio-buttons__radio-button" 
            id="radio2" 
            )
        label(
            class="radio-buttons__label"
            for="radio2"
            ) Женщина