mixin range-slider(text)
    .range-slider
        label.range-slider__label=text
            span.range-slider__value 5 000₽ - 10 000₽
            input(
                type="text" 
                name="" 
                value="" 
                class="range-slider__input" 
                tabindex="-1" 
                readonly
                )
        
            