mixin range-slider(text, value)
    .range-slider
        label.range-slider__label=text
            span.range-slider__value=value
            input(
                type="text" 
                name="" 
                value="" 
                class="range-slider__input" 
                tabindex="-1" 
                readonly
                )
        
            