mixin calendar(isopen)
    //.calendar.datepicker-here(data-clearButton="true" data-range="true")
    div(
            class="calendar"
            data-multiple-dates="2"
            data-multiple-dates-separator=" "
            data-position='left top'
            data-range="true"
            data-clearButton="true"
            )
            