mixin dropdown(text='', type='room', expanded=0, partclass='', ...numbs)
    //if expanded==true
        div(class = "dropdown dropdown_expanded dropdown_for-room" + partclass)=text
            span.dropdown__expand expand_more
    //else
        div(class = "dropdown " + partclass)=text
            span.dropdown__expand expand_more
    if type='room'
        -var names=['спальни', 'кровати', 'ванные комнаты']
        -var ids = ['bedroom', 'bed', 'bathroom']
    else if type='guest'
        -var names=['взрослые', 'дети', 'младенцы']
    -i=0
    .dropdown
        .dropdown__text=text
        //span.dropdown__expand expand_more
        .dropdown__menu
            each numb in numbs
                .dropdown__item(data-item=ids[i])
                    span.dropdown__name=names[i]
                    span.dropdown__controls
                        button.dropdown__button#button-minus -
                        span.dropdown__quantity=numb
                        button.dropdown__button#button-plus +
                -i++
        


        