//mixin 
    input#(class="text-field" type=options.type, name=options.name, placeholder=options.placeholder)

mixin text-field(type="text", placeholder)
    input(type=type class="text-field" placeholder=placeholder)


+text-field("email", "Email")
p   
    a(href="colors-and-type.html") colors-and-type
p  
    a(href="form-elements.html") form-elements