//mixin 
    input#(class="text-field" type=options.type, name=options.name, placeholder=options.placeholder)

mixin text-field(type="text", placeholder)
    input(type=type class="text-field" placeholder=placeholder)


+text-field("email", "Email")
a(href="colors-and-type.html") dsdsad