-let toggleid=0
mixin toggle(text='', checked='')
    .toggle 
        if checked==true
            input(
                type="checkbox"
                name="toggle"
                class="toggle__toggle"
                id="toggle"+toggleid
                checked
            )
        else
            input(
                type="checkbox"
                name="toggle"
                class="toggle__toggle"
                id="toggle"+toggleid
            )
        
        label(
            class="toggle__label"
            for="toggle"+toggleid
        )=text
        -toggleid++