//-+review(
                    'Патрисия Стёклышкова',
                    'Неделю назад',
                    2,
                    'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                '../src/img/avatar-2.jpg',
                0)

mixin review(fio, date, likes, text, template, isliked=false)
    .review
        .review__header
            img(class="review__img" src=template alt="Аватарка")
            .review__name-and-date-container
                h3.review__name=fio
                span.review__date=date
        .review__body
            .review__like
                +like-button(likes,isliked)
            p.review__text=text
        